@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #0d0d0d;

  color: #f9f9f9;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  scale: 120%;
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.i-k-header.is-open .i-k-header-background {
  left: 0;
}
.i-k-header-button-wrapper {
  margin-left: auto;
}
.i-k-header-icon {
  display: none;
}

.i-k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-k-navigation-list.is-open {
  right: 0;
}
.i-k-header-icon-menu {
  display: block;
}

.i-k-header-icon-button.is-open .i-k-header-icon-menu {
  display: none;
}

.i-k-header-icon-button.is-open .i-k-header-icon-close {
  display: block;
}

.i-k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #2c2c2c;
}

.i-k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #2c2c2c;
}
.i-k-header.is-open .i-k-header-background {
  left: 0;
}
.i-k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-k-header-icon-menu {
  display: block;
}

.i-k-header-icon-button.is-open .i-k-header-icon-menu {
  display: none;
}

.i-k-header-icon-button.is-open .i-k-header-icon-close {
  display: block;
}

.i-k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.i-k-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;

  gap: 12px;
  backdrop-filter: blur(30px);
  background: #2c2c2c;
}

.i-k-navigation-list.is-open {
  right: 0;
}

.i-k-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  color: #f9f9f9;
}

.i-k-navigation-link:hover,
.i-k-navigation-link:focus {
  color: #fb4da4;
}

.i-k-header.is-open {
  background-color: transparent;
}

.i-k-navigation-img {
  display: none;
}

@media screen and (min-width: 1201px) {
  .i-k-navigation-img {
    display: block;
    margin-right: 110px;
  }
  .i-k-header-icon-title {
    display: none;
  }
  .i-k-header-button-wrapper {
    display: none;
  }
  .i-k-header {
    width: 1440px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
  }

  .i-k-header-background {
  }
  .i-k-header-icon-button {
    display: none;
  }
  .i-k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
    padding: 24px 72px;
  }
  .i-k-navigation-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
  }
  .i-k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;

    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    justify-content: end;
    align-items: center;

    padding: 0;
    width: 952px;
    border: none;
  }

  .i-k-navigation-link {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .i-k-navigation-item-desk {
    display: none;
  }
}
.i-k-home {
  width: 375px;
  height: 535px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40045.png");
  margin: auto;
  color: #f9f9f9;
}
.i-k-home-container {
  width: 375px;
  padding: 116px 16px 0px;
  margin: auto;
}

.i-k-home-title {
  font-family: Orbitron;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-shadow: 0px 0px 10px #ff1d8e;
  -webkit-text-stroke: 1px #ff1d8e;
}

.i-k-home-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  padding: 201px 0 24px;
}

.i-k-home-div {
  display: flex;
}
.i-k-home-link {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 20px 0px #dbb5ff80;
  background: #a855f7;

  width: 343px;
  padding: 12px;

  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
}

.i-k-home-link:hover {
  background: #8d31e5;
  text-shadow: 0px 0px 20px #dbb5ff80;
}

@media screen and (min-width: 1201px) {
  .i-k-home {
    width: 1440px;
    height: 623px;
    background-image: url("/img/Frame\ 40046.png");
  }
  .i-k-home-container {
    width: 1440px;
    padding: 215px 72px 0px;
  }

  .i-k-home-title {
    font-family: Orbitron;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-shadow: 0px 0px 10px #ff1d8e;
  }

  .i-k-home-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    width: 636px;
    padding: 40px 0 80px;
  }

  .i-k-home-link {
    width: fit-content;
    padding: 16px 24px;

    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}
.i-k-about {
  width: 375px;
  padding: 80px 16px 0;
  margin: auto;
}
.i-k-about-container {
  background-image: url("/img/Frame\ 40019.png");
  height: 366px;
  margin: auto;
}
.i-k-about-title {
  font-family: Orbitron;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 0px 10px #ff1d8e;
  -webkit-text-stroke: 1px #ff1d8e;
}
.i-k-about-title-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  color: #fb4da4;
  padding-top: 40px;
}

.i-k-about-title-text-two-e {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 169px;
}

@media screen and (min-width: 1201px) {
  .i-k-about {
    width: 1440px;
    padding: 112px 72px 0;
    margin: auto;
  }
  .i-k-about-container {
    background-image: url("/img/Frame\ 40019\ \(1\).png");
    height: 324px;
    margin: auto;
  }
  .i-k-about-title {
    font-family: Orbitron;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .i-k-about-title-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    color: #fb4da4;
    padding-top: 56px;
  }

  .i-k-about-title-text-two-e {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    width: 746px;
    padding-top: 24px;
  }
}

.i-k-why-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}

.i-k-why-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-k-why-item {
  box-shadow: 0px 0px 10px 0px #ff1d8e;
  border: 1px solid #a855f7;
  background: #000000;
  padding: 15px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1201px) {
  .i-k-why-container {
    margin: auto;
    width: 1440px;
    padding: 112px 72px 0;
  }

  .i-k-why-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;

    gap: 24px;
  }
  .i-k-why-item {
    width: 306px;
    height: auto;
    padding: 15px 23px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    display: flex;
    align-items: center;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.i-k-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.i-k-uniqueness-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-k-uniqueness-item {
  box-shadow: 0px 0px 10px 0px #ff1d8e;
  border: 1px solid #ff1d8e;
  background: #000000;
  padding: 15px;
}
.i-k-uniqueness-text-bold {
  font-family: Orbitron;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #a855f7;
}
.i-k-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1201px) {
  .i-k-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 112px 72px 0;
  }

  .i-k-uniqueness-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;

    gap: 24px;
  }
  .i-k-uniqueness-item {
    width: 306px;
    height: 142px;

    padding: 23px;
  }

  .i-k-uniqueness-text-bold {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .i-k-uniqueness-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}

.i-k-reviews-container {
  margin: auto;
  padding: 80px 16px 0;
  width: 375px;
}
.i-k-reviews-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.i-k-reviews-item {
  border: 1px solid #ff1d8e;
  background: #000000;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.i-k-reviews-img {
  width: 24px;
}

@media screen and (min-width: 1201px) {
  .i-k-reviews-container {
    margin: auto;
    padding: 112px 72px 0;
    width: 1440px;
  }

  .i-k-reviews-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .i-k-reviews-item {
    width: 306px;

    gap: 12px;
    padding: 23px 0 23px 23px;
  }
  .i-k-reviews-img {
    width: 32px;
  }
}

.i-k-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.i-k-features-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 16px;
}

.i-k-features-div-item {
  display: flex;

  gap: 8px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-k-features-div-item-two {
  align-items: center;
}
.i-k-features-div-item-text-two {
  color: #a855f7;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.i-k-features-div-item-text {
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 2px;
  width: 204px;
}

@media screen and (min-width: 1201px) {
  .i-k-features-container {
    width: 1440px;
    margin: auto;
    padding: 112px 72px;
  }
  .i-k-features-div {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .i-k-features-div-item {
    display: flex;

    gap: 12spx;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    align-items: center;
  }
  .i-k-features-div-item-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: fit-content;
  }
  .i-k-features-div-item-two {
    align-items: center;
  }
  .i-k-features-div-item-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }
}

.i-k-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-k-container h1 {
  margin-bottom: 8px;
  font-family: Orbitron;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.i-k-container h2 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-k-container h3 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-k-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.i-k-container ul li {
  margin-bottom: 10px;
}
.i-k-container p {
  margin-top: 10px;
}
.i-k-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.i-k-container a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1201px) {
  .i-k-container {
    padding: 168px 72px 80px;
    width: 1440px;
    margin: auto;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-k-container h1 {
    font-family: Orbitron;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .i-k-container h2 {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-k-container h3 {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-k-container ul {
    margin-top: 20px;
  }

  .i-k-container ul li {
    margin-bottom: 10px;
  }
  .i-k-container p {
    margin-top: 20px;
  }
}

.i-k-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #2c2c2c;
}

.i-k-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.i-k-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.i-k-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.i-k-footer-title {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1201px) {
  .i-k-footer-container {
    width: 1440px;
    padding: 24px 0px;

    gap: 16px;
  }
  .i-k-footer-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-k-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 40px;
  }

  .i-k-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .i-k-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.i-k-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 16px;
  backdrop-filter: blur(60px);
  background: #0d0d0d;

  z-index: 1000;
  display: none;
}

.i-k-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-k-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.i-k-cookie-button {
  border: none;
  background-color: transparent;
  border: 2px solid #a855f7;

  width: 128px;
  padding: 11px 0;
  border-radius: 16px;
  border-width: 2px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

#accept-cookies {
  background: #a855f7;

  color: #eaeaea;
}

.i-k-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.i-k-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1201px) {
  .i-k-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }
  .i-k-cookie-button {
    width: 176px;

    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .i-k-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-k-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .i-k-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
}
