@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f9fafb;

  color: #1e293b;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  scale: 120%;
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.i-l-header.is-open .i-l-header-background {
  left: 0;
}
.i-l-header-button-wrapper {
  margin-left: auto;
}
.i-l-header-icon {
  display: none;
}

.i-l-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-l-navigation-list.is-open {
  right: 0;
}
.i-l-header-icon-menu {
  display: block;
}

.i-l-header-icon-button.is-open .i-l-header-icon-menu {
  display: none;
}

.i-l-header-icon-button.is-open .i-l-header-icon-close {
  display: block;
}

.i-l-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #ffffff;
}

.i-l-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ffffff;
}
.i-l-header.is-open .i-l-header-background {
  left: 0;
}
.i-l-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.i-l-header-icon-menu {
  display: block;
}

.i-l-header-icon-button.is-open .i-l-header-icon-menu {
  display: none;
}

.i-l-header-icon-button.is-open .i-l-header-icon-close {
  display: block;
}

.i-l-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.i-l-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;

  gap: 12px;
  backdrop-filter: blur(30px);
  background: #ffffff;
}

.i-l-navigation-list.is-open {
  right: 0;
}

.i-l-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  color: #1e293b;
}

.i-l-navigation-link:hover,
.i-l-navigation-link:focus {
  color: #f97316;
}

.i-l-header.is-open {
  background-color: transparent;
}

.i-l-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .i-l-navigation-img {
    display: block;
    margin-right: 110px;
  }
  .i-l-header-icon-title {
    display: none;
  }
  .i-l-header-button-wrapper {
    display: none;
  }
  .i-l-header {
    width: 1440px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
  }

  .i-l-header-background {
  }
  .i-l-header-icon-button {
    display: none;
  }
  .i-l-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
    padding: 24px 72px;
  }
  .i-l-navigation-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
  }
  .i-l-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;

    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    justify-content: end;
    align-items: center;

    padding: 0;
    width: 952px;
    border: none;
  }

  .i-l-navigation-link {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .i-l-navigation-item-desk {
    display: none;
  }
}
.i-l-home {
  width: 375px;
  height: 522px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40037.png");
  margin: auto;
}
.i-l-home-container {
  width: 375px;
  padding: 156px 16px 0px;
  margin: auto;
}
.i-l-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.i-l-home-title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.i-l-home-text {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  padding: 32px 0 112px;
}

.i-l-home-div {
  display: flex;
}
.i-l-home-link {
  transition: all 0.3s ease-in-out;
  background: #f97316;

  width: 343px;
  padding: 12px;

  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;

  border-radius: 16px;
  color: #f9fafb;
}

.i-l-home-link:hover {
  background: #e06714;
}

@media screen and (min-width: 1202px) {
  .i-l-home {
    width: 1440px;
    height: 617px;
    background-image: url("/img/Frame\ 40038.png");
  }
  .i-l-home-container {
    width: 1440px;
    padding: 207px 72px 0px;
  }

  .i-l-home-title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .i-l-home-text {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 746px;
    padding: 40px 0 80px;
  }

  .i-l-home-link {
    width: 306px;
    padding: 16px 24px;

    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}
.i-l-about {
  width: 375px;
  padding: 80px 16px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  gap: 48px;
}
.i-l-about-container {
  background: #2563eb1a;
  padding: 16px;
  border-radius: 32px;
}
.i-l-about-title {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.i-l-about-title-two {
  font-family: Lato;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2563eb;
  padding-top: 32px;
}
.i-l-about-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
}
.i-l-about-item {
  background: #2563eb26;
  border: 1px solid #2563eb80;

  border-radius: 12px;
  padding: 11px 15px;
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1202px) {
  .i-l-about {
    width: 1440px;
    padding: 112px 72px 0;
    margin: auto;
    gap: 24px;
    flex-direction: row;
  }
  .i-l-about-container {
    width: 636px;
    height: 420px;
    padding: 32px;
    border-radius: 32px;
  }
  .i-l-about-title {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .i-l-about-title-two {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 40px;
  }
  .i-l-about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 24px;
  }
  .i-l-about-item {
    width: 274px;
    height: 80px;
    padding: 15px;
    border-radius: 16px;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
}

.i-l-why-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-l-why-item {
  border: 1px solid #2563eb80;
  background: #2563eb26;
  border-radius: 16px;
  padding: 11px 15px;
}
.i-l-why-text {
  font-family: Lato;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.i-l-why-text-two {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 8px 0;
}
.i-l-why-text-three {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-l-why-text-three span {
  font-family: Lato;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2563eb;
}
@media screen and (min-width: 1202px) {
  .i-l-why-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;

    gap: 24px;
  }
  .i-l-why-item {
    width: 394.6666564941406px;

    padding: 15px;

    border-radius: 16px;
    border-width: 1px;
  }
  .i-l-why-text {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .i-l-why-text-two {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding: 12px 0;
  }
  .i-l-why-text-three {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .i-l-why-text-three span {
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.i-l-uniqueness {
  padding: 48px 16px 0;
  margin: auto;
  width: 375px;
}
.i-l-uniqueness-container {
  border: 1px solid #2563eb;
  background: #ffffff;

  padding: 15px;

  border-radius: 32px;
}
.i-l-uniqueness-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.i-l-uniqueness-item {
  background: #f9731626;
  border: 1px solid #f9731680;
  padding: 15px;
  padding: 11px 15px;
  width: 311;

  border-radius: 16px;
}
.i-l-uniqueness-text-bold {
  font-family: Lato;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.i-l-uniqueness-text {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;

  padding-top: 8px;
}

@media screen and (min-width: 1202px) {
  .i-l-uniqueness {
    padding: 24px 72px 0;
    margin: auto;
    width: 1440px;
  }
  .i-l-uniqueness-container {
    padding: 31px;

    border-radius: 32px;
  }
  .i-l-uniqueness-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;

    gap: 24px;
  }
  .i-l-uniqueness-item {
    width: 290px;
    height: 100px;

    padding: 15px;
  }

  .i-l-uniqueness-text-bold {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .i-l-uniqueness-text {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.i-l-features {
  width: 375px;
  margin: auto;
  padding: 48px 16px 80px;
}
.i-l-features-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 16px;
}

.i-l-features-div-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Lato;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-l-features-div-item-text {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  width: 204px;
}
.i-l-features-text {
  font-family: Lato;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1202px) {
  .i-l-features {
    width: 1440px;
    margin: auto;
    padding: 24px 72px 135px;
  }
  .i-l-features-div {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .i-l-features-div-item {
    display: flex;

    gap: 12px;
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .i-l-features-div-item-text {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: fit-content;
  }
  .i-l-features-text {
    font-family: Lato;
    font-weight: 400;
    font-style: Italic;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.i-l-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-l-container h1 {
  margin-bottom: 8px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.i-l-container h2 {
  margin-top: 10px;
  font-family: Lato;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-l-container h3 {
  margin-top: 10px;
  font-family: Lato;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-l-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.i-l-container ul li {
  margin-bottom: 10px;
}
.i-l-container p {
  margin-top: 10px;
}
.i-l-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.i-l-container a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1202px) {
  .i-l-container {
    padding: 168px 72px 80px;
    width: 1440px;
    margin: auto;
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-l-container h1 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .i-l-container h2 {
    margin-top: 20px;
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-l-container h3 {
    margin-top: 20px;
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-l-container ul {
    margin-top: 20px;
  }

  .i-l-container ul li {
    margin-bottom: 10px;
  }
  .i-l-container p {
    margin-top: 20px;
  }
}

.i-l-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #ffffff;
}

.i-l-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.i-l-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.i-l-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.i-l-footer-title {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1202px) {
  .i-l-footer-container {
    width: 1440px;
    padding: 24px 0px;

    gap: 16px;
  }
  .i-l-footer-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .i-l-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 40px;
  }

  .i-l-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .i-l-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.i-l-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 16px;
  backdrop-filter: blur(60px);
  background: #f9fafb;

  z-index: 1000;
  display: none;
}

.i-l-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-l-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.i-l-cookie-button {
  border: none;
  background-color: transparent;
  border: 2px solid #2563eb;

  width: 128px;
  padding: 11px 0;
  border-radius: 16px;
  border-width: 2px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

#accept-cookies {
  background: #2563eb;

  color: #f9fafb;
}

.i-l-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.i-l-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1202px) {
  .i-l-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }
  .i-l-cookie-button {
    width: 176px;

    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .i-l-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-l-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .i-l-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
}
